.banner {
  background-image: url("./images/Banner.png"); 
  background-size: cover;
  background-position: center;
  background-color: black;
  height: 40vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  text-align: center;
}

.overlay {
  padding: 2rem;
  border-radius: 8px;
  max-width: 90%;
  display: flex;
  flex-direction: column;
}

.overlay h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: 400;
}

.overlay p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: rgb(206, 204, 204);
}

.overlay button {
  background: transparent;
  border: 2px solid white;
  color: white;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  cursor: pointer;
}

.overlay button:hover {
  background: white;
  color: black;
}

/* Responsive Styles */
@media (max-width: 1200px) {
  .overlay h1 {
    font-size: 2.5rem;
  }

  .overlay p {
    font-size: 1.1rem;
  }
}

@media (max-width: 992px) {
  .overlay h1 {
    font-size: 2rem;
  }

  .overlay p {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .banner {
    height: 60vh;
  }

  .overlay {
    padding: 1.5rem;
  }

  .overlay h1 {
    font-size: 1.75rem;
  }

  .overlay p {
    font-size: 0.9rem;
  }

  .overlay button {
    padding: 0.5rem 1.5rem;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .banner {
    height: 50vh; /* Further reduce height on extra small screens */
  }

  .overlay {
    padding: 1rem;
  }

  .overlay h1 {
    font-size: 1.5rem;
  }

  .overlay p {
    font-size: 0.8rem;
  }

  .overlay button {
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
  }
}
